@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    margin: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;

}


.sidenav{
    height: 100%; 
    position: fixed;
    width: 20%;
    background-color:#001a33;
}
.userimg{
    height: 10rem;
    width: 10rem;
    margin-left: 5rem;
   
}
img{
    height: 100%;
    width: 100%;
}
.heading{
    margin-top: 0;
    color: white;
    text-align: center;
    padding: 1rem;cursor: pointer;
}
.fields{
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-align: center;
    padding: 1rem;
}
.fields:hover{
   color: #4f83b3;
   background-color: black;
   cursor: pointer;
}
i{
    margin-right: 0.8rem;
}
.logout{
    position: relative;
    top: 250px;
}

.content{
    margin-left: 22rem;
    
}
.silverline{
    padding-top: 4rem;
    border-bottom: 1px solid silver;
    color: silver;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin-bottom: 3rem;
}
.button{
    position: relative;
    left: 65rem;
    bottom: 90px;
    height: 2.5rem;
    width: 6rem;
    background-color: #214261;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 8px;
}
.button:hover{
    transform: scale(1.08);
    transition: 0.3s;
}

.line{
    width: 100%;
    border-bottom: 1px solid silver;
    margin-top: 3rem;
}

.contentt{
    margin-top: 5rem;
    
}
.silverline{
    padding-top: 4rem;
    border-bottom: 1px solid silver;
    color: silver;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin-bottom: 3rem;
}
.content-box{
    height: 250px;
    width: 350px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 2rem;
}
.notes{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}